@font-face {
  font-family: Jost-light;
  src: url(../fonts/Jost-Light.ttf);
}
@font-face {
  font-family: Jost-medium;
  src: url(../fonts/Jost-Medium.ttf);
}
/* ====================================================================
                                RESET
=====================================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

/* ====================================================================
                                BODY
=====================================================================*/
body {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
body header {
  overflow: hidden;
}
body header section {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  backdrop-filter: saturate(80%);
  background: center/cover no-repeat;
}
body header article {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  top: -10%;
  bottom: -10%;
  left: -10%;
  right: -10%;
  z-index: -1;
  background-color: rgb(0, 0, 0);
  transition: transform 200ms linear;
  gap: 1%;
}
body header article div {
  opacity: 0.6;
  transform: rotate(15deg);
}
body header article div:nth-of-type(1) {
  background: url(../img/cloudy.gif) center/cover no-repeat;
}
body header article div:nth-of-type(2) {
  background: url(../img/rain.gif) center/cover no-repeat;
}
body header article div:nth-of-type(3) {
  background: url(../img/snow.gif) center/cover no-repeat;
}
body header article div:nth-of-type(4) {
  background: url(../img/sunny.gif) center/cover no-repeat;
}
body main {
  text-align: center;
  padding: 5%;
  padding-top: 1%;
}
body main section {
  width: 80%;
  margin: 0 auto;
}
body main section:nth-of-type(1) {
  border-radius: 1rem;
  padding: 5%;
}
body main section:nth-of-type(1) input {
  background-color: rgba(0, 0, 0, 0.747);
  width: 50%;
  height: 4rem;
  font-size: 1.7rem;
  padding: 1% 3%;
  border-radius: 1rem;
  text-align: center;
  border: 2px solid #979dac;
  color: #dde5fb;
}
body main section:nth-of-type(1) input:focus {
  outline: none;
  background-color: black;
}
body main section:nth-of-type(1) input::placeholder {
  color: rgba(255, 255, 255, 0.723);
}
body main .output__wrapper {
  color: #dde5fb;
  background-color: rgba(0, 0, 0, 0.7254901961);
  padding: 2%;
  border-radius: 1rem;
  width: fit-content;
}
body main .output__wrapper .output__dataToday {
  display: flex;
  margin: 0 auto;
}
body main .output__wrapper .output__dataToday p {
  font-family: Jost-light;
  font-size: 8rem;
}
body main .output__wrapper .output__dataToday p:nth-of-type(1) {
  font-size: 4rem;
  font-family: Jost-light;
}
body main .output__wrapper .output__dataToday div {
  display: flex;
  padding: 1%;
}
body main .output__wrapper .output__dataToday div:nth-of-type(1) {
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  width: 100%;
}
body main .output__wrapper .output__dataToday div:nth-of-type(2) {
  flex-direction: column;
}
body main .output__wrapper .output__dataToday div:nth-of-type(2) img {
  width: 7rem;
}
body main .output__wrapper .output__dataToday div:nth-of-type(2) p {
  margin-top: 1%;
  font-size: 3rem;
  font-family: Jost-light;
  transform: rotate(-90deg);
  position: relative;
  top: 30%;
  left: 25%;
}
body main .output__wrapper .upcommingWrapper {
  display: flex;
  padding: 2% 4%;
  background-color: rgba(0, 0, 0, 0.4823529412);
  gap: 1.5rem;
  border-radius: 1rem;
}
body main .output__wrapper .upcommingWrapper p {
  font-family: Jost-light;
  font-size: 8rem;
}
body main .output__wrapper .upcommingWrapper p:nth-of-type(1) {
  font-size: 4rem;
  font-family: Jost-light;
}
body main .output__wrapper .upcommingWrapper div {
  display: flex;
  align-items: center;
}
body main .output__wrapper .upcommingWrapper div div {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
body main .output__wrapper .upcommingWrapper div img {
  width: 75px;
  padding-right: 1rem;
}
body footer {
  text-align: center;
  color: #dde5fb;
  margin-top: 20%;
}

@media screen and (max-width: 1150px) {
  body header article {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    gap: 0.2%;
  }
  body header article div {
    transform: rotate(0deg);
  }
}

/*# sourceMappingURL=style.css.map */
