@font-face {
  font-family: Jost-light;
  src: url(../fonts/Jost-Light.ttf);
}
@font-face {
  font-family: Jost-medium;
  src: url(../fonts/Jost-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-position: center;
  background-image: url(../image/ff4d344d44981a5618deb925f0b8d381.gif);
  background-image: url(../image/cloudy.gif);
  background-image: url(../image/snow_end.gif);
  /* background-image: url(../image/sunny_end.gif); */
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body > div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

h1 {
  font-family: Jost-medium;
  font-size: 3rem;
}
main {
  margin: 0 auto;
  width: 60%;
}
input,
button {
  margin-block: 1rem;
  font-family: Jost-light;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  border: none;
  margin-inline: 0.25rem;
}
input {
  width: 50%;
}
button {
  background-color: #0466c8;
  color: white;
}
.output__wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2rem 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.output__wrapper > h3 {
  margin-top: 1rem;
}
.output__wrapper > h3,
h5 {
  font-family: Jost-light;
  font-size: 1rem;
}
.outputName {
  font-family: Jost-light;
  font-size: 2rem;
}

.outputTemp {
  font-family: Jost-Medium;
  font-size: 8rem;
}

.extraInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.411);
  padding: 1rem 2rem;
}

.extraInfo p {
  font-size: 2rem;
  font-family: Jost-light;
  color: white;
}

.extraInfo p:nth-of-type(1) {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.obtained {
  font-family: Jost-light;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  /* margin-bottom: 1rem; */
}

.output__dataFollowingDays {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
.output__dataFollowingDays .outputTemp {
  font-size: 2rem;
}
.output__dataFollowingDays .extraInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.422);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.output__dataFollowingDays .extraInfo p {
  font-size: 1rem;
}
.output__dataFollowingDays .extraInfo p:nth-of-type(1) {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
footer {
  margin-top: 1rem;
  font-family: Jost-light;
}

footer > a {
  text-decoration: none;
  margin-inline: 2rem;
  color: rgba(255, 255, 255, 0.67);
}
