@font-face {
  font-family: Jost-light;
  src: url(../fonts/Jost-Light.ttf);
}
@font-face {
  font-family: Jost-medium;
  src: url(../fonts/Jost-Medium.ttf);
}
/* ====================================================================
                                RESET
=====================================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

/* ====================================================================
                                BODY
=====================================================================*/
body {
  background-position: center;
  background-image: url(../image/ff4d344d44981a5618deb925f0b8d381.gif);
  background-image: url(../image/cloudy.gif);
  background-image: url(../image/snow_end.gif);
  /* background-image: url(../image/sunny_end.gif); */
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body > div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  backdrop-filter: saturate(80%);
  background: center/cover no-repeat;
}
body header article {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  top: -10%;
  bottom: -10%;
  left: -10%;
  right: -10%;
  z-index: -1;
  background-color: rgb(0, 0, 0);
  gap: 1%;
}
body header article div {
  opacity: 0.6;
  transform: rotate(15deg);
}
body header article div:nth-of-type(1) {
  background: url(../img/cloudy.gif) center/cover no-repeat;
}
body header article div:nth-of-type(2) {
  background: url(../img/rain.gif) center/cover no-repeat;
}
body header article div:nth-of-type(3) {
  background: url(../img/snow.gif) center/cover no-repeat;
}
body header article div:nth-of-type(4) {
  background: url(../img/sunny.gif) center/cover no-repeat;
}
body main {
  text-align: center;
  padding: 5%;
  padding-top: 1%;
}
body main section {
  width: 80%;
  margin: 0 auto;
  width: 60%;
}
input,
button {
  margin-block: 1rem;
  font-family: Jost-light;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  border: none;
  margin-inline: 0.25rem;
}
input {
  width: 50%;
  height: 4rem;
  font-size: 1.7rem;
  padding: 1% 3%;
  border-radius: 1rem;
  text-align: center;
  border: 2px solid #979dac;
  color: #dde5fb;
}
body main section:nth-of-type(1) input:focus {
  outline: none;
  background-color: black;
}
body main section:nth-of-type(1) input::placeholder {
  color: rgba(255, 255, 255, 0.723);
}
body main .output__wrapper {
  color: #dde5fb;
  background-color: rgba(0, 0, 0, 0.7254901961);
  padding: 2%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .output__wrapper .output__dataToday {
  display: flex;
  margin: 0 auto;
}
body main .output__wrapper .output__dataToday p {
  font-family: Jost-light;
  font-size: 8rem;
}
body main .output__wrapper .output__dataToday p:nth-of-type(1) {
  font-size: 4rem;
  font-family: Jost-light;
}
body main .output__wrapper .output__dataToday div {
  display: flex;
  padding: 1%;
}
body main .output__wrapper .output__dataToday div:nth-of-type(1) {
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  width: 100%;
}
body main .output__wrapper .output__dataToday div:nth-of-type(2) {
  flex-direction: column;
}
body main .output__wrapper .output__dataToday div:nth-of-type(2) img {
  width: 7rem;
}

.extraInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.411);
  padding: 1rem 2rem;
}

.extraInfo p {
  font-size: 2rem;
  font-family: Jost-light;
  font-size: 8rem;
}
body main .output__wrapper .upcommingWrapper p:nth-of-type(1) {
  font-size: 4rem;
  font-family: Jost-light;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  /* margin-bottom: 1rem; */
}

.output__dataFollowingDays {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
.output__dataFollowingDays .outputTemp {
  font-size: 2rem;
}
.output__dataFollowingDays .extraInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.422);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.output__dataFollowingDays .extraInfo p {
  font-size: 1rem;
}
.output__dataFollowingDays .extraInfo p:nth-of-type(1) {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
footer {
  margin-top: 1rem;
  font-family: Jost-light;
}

footer > a {
  text-decoration: none;
  margin-inline: 2rem;
  color: rgba(255, 255, 255, 0.67);
}
